<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788777120846-k5j7j9upgfm2bkn3ij1262u58395mavg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788777120846-k5j7j9upgfm2bkn3ij1262u58395mavg</string>
	<key>API_KEY</key>
	<string>AIzaSyBNBk6fHOc6isBuTCV2LnwkV-tM-RPrFTA</string>
	<key>GCM_SENDER_ID</key>
	<string>788777120846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhalong.chordtab</string>
	<key>PROJECT_ID</key>
	<string>chordtab-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chordtab-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788777120846:ios:dfa0f53c6716098dda3f1f</string>
</dict>
</plist>